name: Post JSON File to Two URLs
  on:
    push:
      branches:
      - main # Runs only when pushing to the main branch
  workflow_dispatch: # Allows manual trigger
  
jobs:
  post_json:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v3
      
    - name: Send JSON Data to First URL
      run: |
        curl -X POST "https://:QD4zhmCeSsCqxoPVFypDuw@tandem.autodesk.com/api/v1/timeseries/models/urn:adsk.dtm:nJH85NjvTGGcGaJ6R3tyVg/streams/AQAAAAVsqX42Kki0p6md8TCWHtcAAAAA" \
          -H "Content-Type: application/json" \
          -d @stream.json
        
    - name: Send JSON Data to Second URL
      run: |
        curl -X POST "https://:H6bS7OfwTJKOO932Fu5Ipw@tandem.autodesk.com/api/v1/timeseries/models/urn:adsk.dtm:nJH85NjvTGGcGaJ6R3tyVg/streams/AQAAAGIOnr0upUqDg42IKQQ1gp4AAAAA" \
          -H "Content-Type: application/json" \
          -d @stream.json
